textarea {
    min-height: 400px;
}

.email-box {
    border: solid black 1px;
    width:fit-content;
    padding: 10px;
    margin: 10px;    
}

/* animation: achive;
animation-duration: 2s;
animation-fill-mode: forwards; 
animation-play-state: paused;	 */

@keyframes hide  {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;			
        padding: 10px;
        margin: 10px;
        border: 1px;
        
    }	
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;		
        padding: 10px;
        margin: 10px;
        border: 0px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;			
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}	
